/* RESET */
.App, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

 img {
  width: 1005;
 
  margin: 0;
  display: inline-block;
 
}*/
a {
  text-decoration: none;
}

ul,
ol,
menu, li {
  list-style: none;
}